#about{
    height: 100%;
    width: 100%;
    background-color: #1D1D1D;
    /* box-shadow:0 0 120px #1D1D1D,0 0 60px #1D1D1D;    */
}
.aboutInfo{
    background-color: ;
    height: 65%;
    width: 45%;
    margin: 120px 0px 0px 630px;
    position: absolute;
}
.aboutText1{
    font-size: 32px;
    color: #eeeeee;
    margin: 45px 0px 5px 0px; 
}
.aboutText2{
    font-size: 32px;
    color: #f6c90e;
    margin: 40px 0px 0px 0px;
}
#aboutAbt{
    font-size: 50px;
    color: #eeeeee;
    margin: 0px 0px 7px 0px;
}
#aboutAbt1{
    font-size: 22px;
    color: #eeeeee;
    margin: 0px 0px 0px 0px;
}
#aboutBtn1{
    background-color: #f6c90e;
    font-size: 22px;
    height: 55px;
    width: 140px;
    color: #0f0e0e;
    padding: 0px;
    font-weight: 600;
    margin: 30px 0px 40px 10px;
    border-radius: 5px ;
    border: none;
 }
 #aboutBtn1:hover{
    
    overflow: hidden;
    background-color: #eeeeee;
    color: 0f0e0e;
 }
#aboutImg1{
    position: absolute;
    height: 550px;
    width: auto;
    margin: 90px 0px 0px 85px;
}