/* footer styling ⬇️ */
#footerDiv{
    height: 210px;
    width: 100%;
    background-color: #0f0e0e;
    letter-spacing: 1px;
}
#footerTxtDiv1{
    height: 210px;
    width: 30%;
    position: absolute;
}
#footerTxt1{
    font-size: 40px;
    color: #eeeeee;
    margin-bottom: 7px;
    margin: 60px 0px 0px 50px;
}
#footerTxt2{
    font-size: 21px;
    color: #eeeeee;
    margin: 10px 0px 0px 50px;
}
#footerTxtDiv2{
    width: 70%;
    height: 210px;
    margin: 0px 0px 0px 30%;
    position: absolute;
}
#footerTxtDiv2 h1{
    text-align: center;
    color: #eeeeee;
    font-size: 30px;
    margin: 15px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
